/* General styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Admin Colors */
  --admin-button-bg: #003c6e;
  --admin-button-hover-bg: #05113b;
  --admin-accent-color: #2bc4ad;
  
  /* Form Colors */
  --form-button-bg: #016cfb;
  
  /* Base Colors */
  --white-text: #ffffff;
  --dark-text: #05113b;
  --light-gray: #f2f2f2;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
}
